html { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
    font-family: Montserrat, sans-serif;
}

.text {
    font-size: .9rem;
    color: white;
    font-weight: 300;    
}

.text-big {
    font-size: 1.2rem;
    color: white;
    font-weight: 300;    
}


.content {
    margin-top: 10vh;
    transition: 2s;
    opacity: 0.1;
    filter: alpha(opacity=100);
}


