html { 
}


body {
    background: url('background.jpg') center center no-repeat;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    background-color: black;
    font-family: Montserrat, sans-serif;
}

.text {
    font-size: .8rem;
    color: white;
    font-weight: 400;    
}

.text-big {
    font-size: 1rem;
    color: white;
    font-weight: 300;    
}


.content {
    margin-top: 10vh;
    transition: 2s;
    opacity: 0.1;
    filter: alpha(opacity=100);
}

h5{
    color: white;
}

.content-m{
       margin-top: 10vh;
    }



@media (max-width:800px)  { 
    .content-m{
       margin-top: 0vh;
    }
}
